<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container text-center">
    <p class="mb-1">&copy; {{ year|default:"2025" }} Shop Cart. All rights reserved.</p>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-white text-decoration-none"><i class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>