
{% extends 'shop/layout/main.html' %}
{% block title %}
Registeration shop cart | Shop all
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Register</h1>
        </div>
    </div>
    <section class="p-4 border rounded shadow-sm bg-light ">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                <label class="text-danger">
                    {{ form.username.errors }}
                </label>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                <label class="text-danger">
                    {{ form.email.errors }}
                </label>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                <label class="text-danger">
                    {{ form.password1.errors }}
                </label>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                <label class="text-danger">
                    {{ form.password2.errors }}
                </label>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </section>
</div>



{% endblock content %}